.customers-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: $MainColor;
}
.customers-list {
  gap: 30px;
}
.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $iconColor;
  color: $iconColor;
  border-radius: 4px;
  transition: border-color $TransitionTimingFunction, color $TransitionTimingFunction;
  &:hover,
  &:focus {
    border-color: $CurrentColor;
    color: $CurrentColor;
  }
}
.clients-icon {
  fill: currentColor;
}
