.feature__list {
  width: 270px;
}
.feature {
  gap: 30px;
  .title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .text {
    margin-top: 10px;
    margin-bottom: 0px;
    color: $SecondaryColor;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.feature__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: $BadgeBgColor;
}
