.team__socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.team__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color $TransitionTimingFunction, background-color $TransitionTimingFunction;
  &:hover,
  &:focus {
    background-color: $CurrentColor;
    color: $mainLightColor;
  }
}
.team__social-network {
  width: 44px;
  height: 44px;
}
.team__social-icon {
  fill: currentColor;
}

.container-social {
  width: 206px;
  margin-left: 70px;
}

.social-text {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 206px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $mainLightColor;
}
.social-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.soc-item {
  width: 44px;
  height: 44px;
}
.soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color $TransitionTimingFunction;
  &:hover,
  &:focus {
    background-color: $CurrentColor;
  }
}
