.section__title-main {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container__title-main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.main__title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Roboto', $FontFamily;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.title--color-light {
  color: $mainLightColor;
}
