.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  border: none;

  background-color: var(--current-color);
  color: var(--main-light-color);

  cursor: pointer;
  font-family: inherit;
  transition: background-color 250ms var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
