body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;

  color: $MainColor;
}
img {
  display: block;
}
input {
  color: $mainLightColor;
}
