/* Fonts */
$FontFamily: 'Roboto', sans-serif;
$LogoFamily: 'Raleway', sans-serif;

/* Colors */
$mainDarkColor: #0000;
$mainLightColor: #ffff;
$CurrentColor: #2196f3;
$SecondaryColor: #757575;
$iconColor: #afb1b8;
$inputBorder: rgba(33, 33, 33, 0.2);
$FormText: rgba(117, 117, 117, 0.5);
$TextColorSecondary: rgba(255, 255, 255, 0.6);
$SecondaryCurrentColor: #188ce8;
$MainColor: #212121;
$BorderColor: #2f303a;
$BorderLidhtColor: #eeeeee;
$BorderHeader: #ececec;
$BadgeBgColor: #f5f4fa;
$boxShadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$TransitionTimingFunction: 250ms cubic-bezier(0.4, 0, 0.2, 1);
